@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}
.company-style h2{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 600;
}

.company-style p{
  margin-left: 20px;
}